* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 12px;
    background: ghostwhite;
    color: #2d2a2a;
    padding: 1em;
}


section p,
header select {
    font-size: 1.8em;
    line-height: 1em;
    font-weight: 600;
    width: 95vw;
    font-family: serif;

}



div {
    padding: 0.4em 0 0 0.4em;
}
