* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Work Sans', sans-serif;
    font-size: 1.5em;
    padding: 2rem;
    background-color: #f4f4f4;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


h1 {
    font-family: 'Work Sans', sans-serif;
    color:black;
    font-size: 1.5em;
    cursor:pointer;
}

a {
     color:black;
    text-decoration: none;
}
a:hover {
    color:blue;
    text-decoration: none;
}

footer p{

    font-size: 0.2em;
    margin-bottom: 0rem;
}


img {
    max-width: auto;
    max-height: 500px;
    width: auto;
    height: auto;
}
.row {  
    display: flex;
    
    }

#fun {
    margin-top: -20px;
    margin-bottom: 40px;
    max-height: 300px;
   
    
}
.content{
    padding-top: 40px;
    flex-grow: 1;
}
.about {width: 40%}

header, .content, footer {
    flex-shrink: 0;
}


@media only screen and (max-width: 800px) {
  .about {width: 100%;}
    img,#fun {
       
        display: block;
        width: 100%;
        height: auto;
        max-height: 100%;
    
    }
 

    
}

